ViewModel/Service References/wcf_ChuDe/wcf_ChuDe.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wcf_ChuDe" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://moodle.lctgroup.org/Webservices/wcf_ChuDe.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://moodle.lctgroup.org/Webservices/wcf_ChuDe.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://moodle.lctgroup.org/Webservices/wcf_ChuDe.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LCTMoodle.WebServices.Client_Model" />
      <xsd:import schemaLocation="http://moodle.lctgroup.org/Webservices/wcf_ChuDe.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DTOLayer" />
      <xsd:import schemaLocation="http://moodle.lctgroup.org/Webservices/wcf_ChuDe.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iwcf_ChuDe_layHinhAnh_InputMessage">
    <wsdl:part name="parameters" element="tns:layHinhAnh" />
  </wsdl:message>
  <wsdl:message name="Iwcf_ChuDe_layHinhAnh_OutputMessage">
    <wsdl:part name="parameters" element="tns:layHinhAnhResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_ChuDe_layHinhAnhChiSo_InputMessage">
    <wsdl:part name="parameters" element="tns:layHinhAnhChiSo" />
  </wsdl:message>
  <wsdl:message name="Iwcf_ChuDe_layHinhAnhChiSo_OutputMessage">
    <wsdl:part name="parameters" element="tns:layHinhAnhChiSoResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_ChuDe_layTheoMa_InputMessage">
    <wsdl:part name="parameters" element="tns:layTheoMa" />
  </wsdl:message>
  <wsdl:message name="Iwcf_ChuDe_layTheoMa_OutputMessage">
    <wsdl:part name="parameters" element="tns:layTheoMaResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_ChuDe_layTheoMaCha_InputMessage">
    <wsdl:part name="parameters" element="tns:layTheoMaCha" />
  </wsdl:message>
  <wsdl:message name="Iwcf_ChuDe_layTheoMaCha_OutputMessage">
    <wsdl:part name="parameters" element="tns:layTheoMaChaResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_ChuDe_timKiem_InputMessage">
    <wsdl:part name="parameters" element="tns:timKiem" />
  </wsdl:message>
  <wsdl:message name="Iwcf_ChuDe_timKiem_OutputMessage">
    <wsdl:part name="parameters" element="tns:timKiemResponse" />
  </wsdl:message>
  <wsdl:portType name="Iwcf_ChuDe">
    <wsdl:operation name="layHinhAnh">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_ChuDe/layHinhAnh" message="tns:Iwcf_ChuDe_layHinhAnh_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_ChuDe/layHinhAnhResponse" message="tns:Iwcf_ChuDe_layHinhAnh_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="layHinhAnhChiSo">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_ChuDe/layHinhAnhChiSo" message="tns:Iwcf_ChuDe_layHinhAnhChiSo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_ChuDe/layHinhAnhChiSoResponse" message="tns:Iwcf_ChuDe_layHinhAnhChiSo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="layTheoMa">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_ChuDe/layTheoMa" message="tns:Iwcf_ChuDe_layTheoMa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_ChuDe/layTheoMaResponse" message="tns:Iwcf_ChuDe_layTheoMa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="layTheoMaCha">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_ChuDe/layTheoMaCha" message="tns:Iwcf_ChuDe_layTheoMaCha_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_ChuDe/layTheoMaChaResponse" message="tns:Iwcf_ChuDe_layTheoMaCha_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="timKiem">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_ChuDe/timKiem" message="tns:Iwcf_ChuDe_timKiem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_ChuDe/timKiemResponse" message="tns:Iwcf_ChuDe_timKiem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Iwcf_ChuDe" type="tns:Iwcf_ChuDe">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="layHinhAnh">
      <soap:operation soapAction="http://tempuri.org/Iwcf_ChuDe/layHinhAnh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="layHinhAnhChiSo">
      <soap:operation soapAction="http://tempuri.org/Iwcf_ChuDe/layHinhAnhChiSo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="layTheoMa">
      <soap:operation soapAction="http://tempuri.org/Iwcf_ChuDe/layTheoMa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="layTheoMaCha">
      <soap:operation soapAction="http://tempuri.org/Iwcf_ChuDe/layTheoMaCha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="timKiem">
      <soap:operation soapAction="http://tempuri.org/Iwcf_ChuDe/timKiem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wcf_ChuDe">
    <wsdl:port name="BasicHttpBinding_Iwcf_ChuDe" binding="tns:BasicHttpBinding_Iwcf_ChuDe">
      <soap:address location="http://moodle.lctgroup.org/Webservices/wcf_ChuDe.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>