ViewModel/Service References/wcf_KhoaHoc/wcf_KhoaHoc3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTOLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTOLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://moodle.lctgroup.org/Webservices/wcf_KhoaHoc.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="KhoaHocDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="canDangKy" type="xs:boolean" />
          <xs:element minOccurs="0" name="canDuyetBaiViet" type="xs:boolean" />
          <xs:element minOccurs="0" name="cheDoRiengTu" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="chuDe" nillable="true" type="tns:ChuDeDTO" />
          <xs:element minOccurs="0" name="coBangDiem" type="xs:boolean" />
          <xs:element minOccurs="0" name="coBangDiemDanh" type="xs:boolean" />
          <xs:element minOccurs="0" name="hanDangKy" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="hinhDaiDien" nillable="true" type="tns:TapTinDTO" />
          <xs:element minOccurs="0" name="moTa" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="nguoiTao" nillable="true" type="tns:NguoiDungDTO" />
          <xs:element minOccurs="0" name="phiThamGia" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ten" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="thoiDiemHetHan" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="thoiDiemTao" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KhoaHocDTO" nillable="true" type="tns:KhoaHocDTO" />
  <xs:complexType name="DTO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="duLieuThem" nillable="true" type="q1:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="ma" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTO" nillable="true" type="tns:DTO" />
  <xs:complexType name="ChuDeDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="cha" nillable="true" type="tns:ChuDeDTO" />
          <xs:element minOccurs="0" name="con" nillable="true" type="tns:ArrayOfChuDeDTO" />
          <xs:element minOccurs="0" name="hinhDaiDien" nillable="true" type="tns:TapTinDTO" />
          <xs:element minOccurs="0" name="moTa" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="nguoiTao" nillable="true" type="tns:NguoiDungDTO" />
          <xs:element minOccurs="0" name="ten" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="thoiDiemTao" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChuDeDTO" nillable="true" type="tns:ChuDeDTO" />
  <xs:complexType name="ArrayOfChuDeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChuDeDTO" nillable="true" type="tns:ChuDeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChuDeDTO" nillable="true" type="tns:ArrayOfChuDeDTO" />
  <xs:complexType name="TapTinDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="duoi" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="loai" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="nguoiTao" nillable="true" type="tns:NguoiDungDTO" />
          <xs:element minOccurs="0" name="ten" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="thoiDiemTao" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TapTinDTO" nillable="true" type="tns:TapTinDTO" />
  <xs:complexType name="NguoiDungDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="diaChi" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="diemHoiDap" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="gioiTinh" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="hinhDaiDien" nillable="true" type="tns:TapTinDTO" />
          <xs:element minOccurs="0" name="ho" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="maKichHoat" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="matKhau" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="matKhauCap2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ngaySinh" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="soDienThoai" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ten" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tenLot" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="tenTaiKhoan" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NguoiDungDTO" nillable="true" type="tns:NguoiDungDTO" />
  <xs:complexType name="ArrayOfKhoaHocDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KhoaHocDTO" nillable="true" type="tns:KhoaHocDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKhoaHocDTO" nillable="true" type="tns:ArrayOfKhoaHocDTO" />
</xs:schema>