ViewModel/Service References/wcf_CauHoi/wcf_CauHoi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wcf_CauHoi" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://moodle.lctgroup.org/Webservices/wcf_CauHoi.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://moodle.lctgroup.org/Webservices/wcf_CauHoi.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://moodle.lctgroup.org/Webservices/wcf_CauHoi.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LCTMoodle.WebServices.Client_Model" />
      <xsd:import schemaLocation="http://moodle.lctgroup.org/Webservices/wcf_CauHoi.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DTOLayer" />
      <xsd:import schemaLocation="http://moodle.lctgroup.org/Webservices/wcf_CauHoi.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Iwcf_CauHoi_layHinhAnh_InputMessage">
    <wsdl:part name="parameters" element="tns:layHinhAnh" />
  </wsdl:message>
  <wsdl:message name="Iwcf_CauHoi_layHinhAnh_OutputMessage">
    <wsdl:part name="parameters" element="tns:layHinhAnhResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_CauHoi_layHinhAnhChiSo_InputMessage">
    <wsdl:part name="parameters" element="tns:layHinhAnhChiSo" />
  </wsdl:message>
  <wsdl:message name="Iwcf_CauHoi_layHinhAnhChiSo_OutputMessage">
    <wsdl:part name="parameters" element="tns:layHinhAnhChiSoResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_CauHoi_layTheoMa_InputMessage">
    <wsdl:part name="parameters" element="tns:layTheoMa" />
  </wsdl:message>
  <wsdl:message name="Iwcf_CauHoi_layTheoMa_OutputMessage">
    <wsdl:part name="parameters" element="tns:layTheoMaResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_CauHoi_lay_InputMessage">
    <wsdl:part name="parameters" element="tns:lay" />
  </wsdl:message>
  <wsdl:message name="Iwcf_CauHoi_lay_OutputMessage">
    <wsdl:part name="parameters" element="tns:layResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_CauHoi_timKiem_InputMessage">
    <wsdl:part name="parameters" element="tns:timKiem" />
  </wsdl:message>
  <wsdl:message name="Iwcf_CauHoi_timKiem_OutputMessage">
    <wsdl:part name="parameters" element="tns:timKiemResponse" />
  </wsdl:message>
  <wsdl:message name="Iwcf_CauHoi_timKiemTheoChuDe_InputMessage">
    <wsdl:part name="parameters" element="tns:timKiemTheoChuDe" />
  </wsdl:message>
  <wsdl:message name="Iwcf_CauHoi_timKiemTheoChuDe_OutputMessage">
    <wsdl:part name="parameters" element="tns:timKiemTheoChuDeResponse" />
  </wsdl:message>
  <wsdl:portType name="Iwcf_CauHoi">
    <wsdl:operation name="layHinhAnh">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_CauHoi/layHinhAnh" message="tns:Iwcf_CauHoi_layHinhAnh_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_CauHoi/layHinhAnhResponse" message="tns:Iwcf_CauHoi_layHinhAnh_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="layHinhAnhChiSo">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_CauHoi/layHinhAnhChiSo" message="tns:Iwcf_CauHoi_layHinhAnhChiSo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_CauHoi/layHinhAnhChiSoResponse" message="tns:Iwcf_CauHoi_layHinhAnhChiSo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="layTheoMa">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_CauHoi/layTheoMa" message="tns:Iwcf_CauHoi_layTheoMa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_CauHoi/layTheoMaResponse" message="tns:Iwcf_CauHoi_layTheoMa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="lay">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_CauHoi/lay" message="tns:Iwcf_CauHoi_lay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_CauHoi/layResponse" message="tns:Iwcf_CauHoi_lay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="timKiem">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_CauHoi/timKiem" message="tns:Iwcf_CauHoi_timKiem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_CauHoi/timKiemResponse" message="tns:Iwcf_CauHoi_timKiem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="timKiemTheoChuDe">
      <wsdl:input wsaw:Action="http://tempuri.org/Iwcf_CauHoi/timKiemTheoChuDe" message="tns:Iwcf_CauHoi_timKiemTheoChuDe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Iwcf_CauHoi/timKiemTheoChuDeResponse" message="tns:Iwcf_CauHoi_timKiemTheoChuDe_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Iwcf_CauHoi" type="tns:Iwcf_CauHoi">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="layHinhAnh">
      <soap:operation soapAction="http://tempuri.org/Iwcf_CauHoi/layHinhAnh" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="layHinhAnhChiSo">
      <soap:operation soapAction="http://tempuri.org/Iwcf_CauHoi/layHinhAnhChiSo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="layTheoMa">
      <soap:operation soapAction="http://tempuri.org/Iwcf_CauHoi/layTheoMa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="lay">
      <soap:operation soapAction="http://tempuri.org/Iwcf_CauHoi/lay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="timKiem">
      <soap:operation soapAction="http://tempuri.org/Iwcf_CauHoi/timKiem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="timKiemTheoChuDe">
      <soap:operation soapAction="http://tempuri.org/Iwcf_CauHoi/timKiemTheoChuDe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wcf_CauHoi">
    <wsdl:port name="BasicHttpBinding_Iwcf_CauHoi" binding="tns:BasicHttpBinding_Iwcf_CauHoi">
      <soap:address location="http://moodle.lctgroup.org/Webservices/wcf_CauHoi.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>