ViewModel/Service References/wcf_CauHoi/wcf_CauHoi1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LCTMoodle.WebServices.Client_Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LCTMoodle.WebServices.Client_Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="clientmodel_HinhAnh">
    <xs:sequence>
      <xs:element minOccurs="0" name="_ChiSo" type="xs:int" />
      <xs:element minOccurs="0" name="_HinhAnh" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clientmodel_HinhAnh" nillable="true" type="tns:clientmodel_HinhAnh" />
  <xs:complexType name="ArrayOfclientmodel_CauHoi">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="clientmodel_CauHoi" nillable="true" type="tns:clientmodel_CauHoi" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfclientmodel_CauHoi" nillable="true" type="tns:ArrayOfclientmodel_CauHoi" />
  <xs:complexType name="clientmodel_CauHoi">
    <xs:sequence>
      <xs:element minOccurs="0" name="HinhAnh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ma" type="xs:int" />
      <xs:element minOccurs="0" name="NguoiTao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NoiDung" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoTraLoi" type="xs:int" />
      <xs:element minOccurs="0" name="TieuDe" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="clientmodel_CauHoi" nillable="true" type="tns:clientmodel_CauHoi" />
</xs:schema>